#
# Copyright(c) 2019 Intel Corporation
# SPDX - License - Identifier: BSD - 2 - Clause - Patent
#

#=============================== Options ===============================
InputFile                       : akiyo_cif.y4m             # Required input.
StreamFile                      : akiyo_cif.ivf             # Output filename

ErrorFile                       : SVTEncoderLog.log         # Error filname
#ReconFile                       : Recon.yuv                 # Recon filename
StatFile                        : AV1SVTEncoderStat.log     # Stat filename
StatReport                      : 0                         # Report stats (0/1)

#=============================== Encoder Global Options ===============================
SourceWidth                     : 352                       # Frame width
SourceHeight                    : 288                       # Frame height

FrameToBeEncoded                : 20                        # Stop encoding after n input frames
BufferedInput                   : -1                        # Buffer n input frames
EncoderColorFormat              : 1                         # Set encoder color format(0: EB_YUV400, 1: EB_YUV420, 2: EB_YUV422, 3: EB_YUV444)
Profile                         : 0                         # Bitstream profile number to use(0: main profile[default], 1: high profile, 2: professional profile)

FrameRate                       : 30                        # Stream frame rate (rate/scale)
FrameRateNumerator              : 0                         # Frame Rate Numerator
FrameRateDenominator            : 0                         # Frame Rate Denominator
EncoderBitDepth                 : 8                         # Bit depth for codec(8 or 10)
Level                           : 0                         # Level
Tier                            : 0                         # Tier
HierarchicalLevels              : 4                         # Set hierarchical levels
PredStructure                   : 2                         # Set prediction structure( 0: low delay P, 1: low delay B, 2: random access [default] )
PredStructFile                  : Config/PredStruct_level4.cfg        # Prediction structure file
Asm                             : 0                         # Assembly instruction set (0: Automatically select lowest assembly instruction set supported, 1: Automatically select highest assembly instruction set supported)
LogicalProcessors               : 1                         # Number of logical processors to be used
UnpinSingleCoreExecution        : 1                         # Allows the execution of multiple encodes on the CPU without having to pin them to a specific( 0: OFF ,1: ON[default]) mask
TargetSocket                    : 0                         # Specify  which socket the encoder runs on
HighDynamicRangeInput           : 0                         # Enable high dynamic range(0: OFF[default], ON: 1)

#=============================== Rate Control Options ===============================
RateControlMode                 : 0                         # Rate control mode(0 = CQP , 1 = VBR , 2 = CVBR)
TargetBitRate                   : 500                       # Target Bitrate (kbps)
UseQpFile                       : 0                         # Overwrite QP assignment using qp values in QP file
QpFile                          : SVTQPFile.txt             # Path to Qp file
MaxQpAllowed                    : 8                         # Maximum (worst) quantizer[0-63]
MinQpAllowed                    : 0                         # Minimum (best) quantizer[0-63]
AdaptiveQuantization            : 0                         # Set adaptive QP level(0: OFF ,1: variance base using segments ,2: Deltaq pred efficiency)
VBVBufSize                      : 0                         # VBV buffer size

#=============================== Twopass Options ===============================
OutputStatFile                  : TwoPass.stat              # First pass stat file output
InputStatFile                   : TwoPass.stat              # Input the first pass output to the second pass
EncoderMode2p                   : 0                         # Use Hme/Me settings of the second pass'encoder mode in the first pass

#=============================== Keyframe Placement Options ===============================
IntraPeriod                     : -1                        # Intra period interval(frames) (-2: No intra update, -1: default intra period or [0-255])
IntraRefreshType                : 1                         # intra refresh type (1: CRA (Open GOP)2: IDR (Closed GOP))

#=============================== AV1 Specific Options ===============================
BaseLayerSwitchMode             : 0                         # BaseLayerSwitchMode
EncoderMode                     : 7                         # Encoder mode/Preset used
Encoder16BitPipeline            : 0                         # Use 16bit pipeline (0/1)
CompressedTenBitFormat          : 0                         # Offline packing of the 2bits: requires two bits packed input (0: OFF, 1: ON)
TileRow                         : 0                         # Number of tile rows to use, log2[0-6]
TileCol                         : 0                         # Number of tile columns to use, log2[0-6]
QP                              : 30                        # Constant/Constrained Quality level
SceneChangeDetection            : 0                         # Detect scene changes (0/1)
LookAheadDistance               : 0                         # when RC is ON , it is best to set this parameter to be equal to the intra period value
LoopFilterDisable               : 0                         # Disable loop filter(0: loop filter enabled[default] ,1: loop filter disabled)
RestorationFilter               : -1                        # Enable the loop restoration filter(0: OFF ,1: ON ,-1:DEFAULT)
SelfGuidedFilterMode            : -1                        # Self-guided filter mode (0:OFF, 1: step 0, 2: step 1, 3: step 4, 4: step 16, -1: DEFAULT
WienerFilterMode                : -1                        # Wiener filter mode (0:OFF, 1: 3-Tap luma/ 3-Tap chroma, 2: 5-Tap luma/ 5-Tap chroma, 3: 7-Tap luma/ 7-Tap chroma, -1: DEFAULT)
CDEFMode                        : -1                        # CDEF Mode (0: OFF, 1-5: ON with 2,4,8,16,64 step refinement, -1: DEFAULT
Mfmv                            : -1                        # Enable motion field motion vector( 0 = OFF, 1 = ON, -1 = DEFAULT)
RedundantBlock                  : -1                        # use the same md results(mode, residual , costà)as the previously processed identical block(0 = OFF, 1 = ON, -1 = DEFAULT)
SpatialSSEfl                    : -1                        # Enable spatial sse full loop(0 = OFF, 1 = ON, -1 = DEFAULT)
Subpel                          : -1                        # Enable subpel(0 = OFF, 1 = ON, -1 = DEFAULT)
OverBoundryBlock                : -1                        # Enable over boundary block mode (0 = OFF, 1 = ON, -1 = DEFAULT)
NewNearestCombInjection         : -1                        # Enable new nearest near comb injection (0 = OFF, 1 = ON, -1 = DEFAULT)
PruneUnipredMe                  : -1                        # Enable prune unipred at me (0 = OFF, 1 = ON, -1 = DEFAULT)
PruneRefRecPart                 : -1                        # Enable prune ref frame for rec partitions (0 = OFF, 1 = ON, -1 = DEFAULT)
NsqTable                        : -1                        # Enable nsq table (0 = OFF, 1 = ON, -1 = DEFAULT)
FrameEndCdfUpdate               : -1                        # Enable frame end cdf update mode (0 = OFF, 1 = ON, -1 = DEFAULT)
ChromaMode                      : -1                        # Select chroma mode
DisableCFL                      : -1                        # Disable chroma from luma (CFL) flag (0: OFF (do not disable), 1: ON (disable), -1: DEFAULT)
LocalWarpedMotion               : -1                        # Enable local warped motion (0: OFF, 1: ON, -1: DEFAULT)
GlobalMotion                    : 1                         # Enable global motion (0: OFF, 1: ON (default))
CombineClass12                  : -1                        # Enable combine MD Class1&2 (0 = OFF, 1 = ON, -1 = DEFAULT)
EdgeSkipAngleIntra              : 1                         # Enable intra edge filtering (0: OFF, 1: ON (default))
PicBasedRateEst                 : -1                        # Enable picture based rate estimation. Only active with lp 1 (0: OFF, 1: ON, -1: DEFAULT)
IntraEdgeFilter                 : -1                        # Enable intra edge filter (0: OFF, 1: ON, -1: DEFAULT)
IntraAngleDelta                 : -1                        # Enable intra angle delta filtering filtering (0: OFF, 1: ON, -1: DEFAULT)
InterIntraCompound              : 1                         # Enable interintra compound (0: OFF, 1: ON (default))
IntraBCMode                     : -1                        # Set intraBC mode (0: OFF, 1: ON slow, 2: ON faster, 3: ON fastest, -1: DEFAULT)
FractionalSearch64              : -1                        # Enable fractional search for 64x64 (0 = OFF, 1 = ON, -1 = DEFAULT)
Obmc                            : 1                         # Enable OBMC(0 = OFF, 1 = ON[default])
RDOQ                            : -1                        # Enable RDOQ (0 = OFF, 1 = ON, -1 = DEFAULT)
FilterIntra                     : 1                         # Enable filter intra prediction mode (0: OFF, 1: ON [default])
Paeth                           : -1                        # Enable paeth (0: OFF, 1: ON, -1: DEFAULT)
Smooth                          : -1                        # Enable smooth (0: OFF, 1: ON, -1: DEFAULT)
PredMe                          : -1                        # Set predictive motion estimation level(-1: default, [0-5])
Bipred3x3                       : -1                        # Set bipred3x3 injection (0 = OFF, 1 = ON FULL, 2 = Reduced set, -1 = DEFAULT)
CompoundLevel                   : -1                        # Enable compound mode(0: OFF, 1:ON[AVG/DIST/DIFF], 2: ON[AVG/DIST/DIFF/WEDGE], -1: default)
UseDefaultMeHme                 : 1                         # Use default motion estimation/hierarchical motion estimation settings(0: OFF, 1: ON[default])
HME                             : 0                         # Enable hierarchical motion estimation(0 = OFF, 1 = ON)
HMELevel0                       : 1                         # Enable hierarchical motion estimation Level 0 (0 = OFF, 1 = ON)
HMELevel1                       : 0                         # Enable hierarchical motion estimation Level 1 (0 = OFF, 1 = ON)
HMELevel2                       : 0                         # Enable hierarchical motion estimation Level 2 (0 = OFF, 1 = ON)
ExtBlockFlag                    : 0                         # Enable the rectangular and asymetric block (0=OFF, 1= ON)
SearchAreaWidth                 : 16                        # Set search area in width[1-256]
SearchAreaHeight                : 7                         # Set search area in height[1-256]
NumberHmeSearchRegionInWidth    : 2                         # Set hierarchical motion estimation search region in Width
NumberHmeSearchRegionInHeight   : 2                         # Set Hme search region in height
HmeLevel0TotalSearchAreaWidth   : 64                        # Set hierarchical motion estimation level0 total search area in Width
HmeLevel0TotalSearchAreaHeight  : 25                        # Set Hme level0 total search area in height
ScreenContentMode               : 0                         # Set screen content detection level
HighBitDepthModeDecision        : 1                         # Enable high bit depth mode decision(0: OFF, 1: ON partially[default],2: fully ON)
PaletteMode                     : -1                        # Set palette prediction mode(-1: default or [0-6])
UnrestrictedMotionVector        : 1                         # Allow motion vectors to reach outside of the picture boundary (0: OFF, 1: ON[default])
Injector                        : 0                         # Inject pictures at defined frame rate(0: OFF[default],1: ON)
InjectorFrameRate               : 60                        # Set injector frame rate
SpeedControlFlag                : 0                         # Enable speed control(0: OFF[default], 1: ON
FilmGrain                       : 0                         # Enable film grain(0: OFF[default], 1: ON)
HmeLevel0SearchAreaInWidth      : 32 32                     # Set hierarchical motion estimation level0 search area in Width
HmeLevel0SearchAreaInHeight     : 12 13                     # Set Hme level0 search area in height
HmeLevel1SearchAreaInWidth      : 1  1                      # Set Hme level1 search area in Width
HmeLevel1SearchAreaInHeight     : 1  1                      # Set Hme level1 search area in height
HmeLevel2SearchAreaInWidth      : 1  1                      # Set Hme level2 search area in Width
HmeLevel2SearchAreaInHeight     : 1  1                      # Set Hme level2 search area in height
EnableAltRefs                   : 1                         # Enable automatic alt reference frames
AltRefStrength                  : 5                         # AltRef filter strength
AltRefNframes                   : 7                         # AltRef max frames
SuperresMode                    : 0                         # Super Resolution Mode: SUPERRES_NONE (0), SUPERRES_FIXED (1) SUPERRES_RANDOM (2)
SuperresDenom                   : 8                         # Super Resolution scale denominator [8-16]
SuperresKfDenom                 : 8                         # Super Resolution kf scale denominator [8-16]
SuperresQthres                  : 43                        # Super Resolution qp threshold [MIN_QP_VALUE, MAX_QP_VALUE]
EnableOverlays                  : 0                         # Enable overlays
AutomaxPartition                : 1                         # Auto max partition
SquareWeight                    : 100                       # Determines if HA, HB, VA, VB, H4 and V4 shapes could be skipped based on the cost of SQ, H and V shapes([75-100], default: 100)
MdFastPruneClassThreshold       : 100                       # Set MD stage1 prune class threshold
MdFastPruneCandThreshold        : 75                        # Set MD stage1 prune candidate threshold
MdFullPruneClassThreshold       : 25                        # Set MD stage2/3 prune class threshold
MdFullPruneCandThreshold        : 0                         # Set MD stage2/3 prune candidate threshold
